<section name="GetAllEvents">
  	<div flex layout-margin>
	  <md-content flex>
		<md-button ui-sref="createEvent()">Crear nuevo evento</md-button>  
		<md-list>
		<md-subheader class="md-no-sticky">Eventos</md-subheader>
		<md-list-item class="md-2-line contact-item" ng-repeat="event in $ctrl.events" ng-click="$ctrl.eventDetails(event.id)">
			<!--<img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />-->
			<div class="md-list-item-text compact">
				<p>{{event.id}}</p>
				<h3>{{event.name}}</h3>
				<p>{{event.description}}</p>
				<p>{{event.beginDate}}</p>
                <p>{{event.endDate}}</p>
                <p>{{event.localId}}</p>
			</div>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
  	</md-content>
  	</div>
</section>