<section name="GetEvent">
	<md-content class="md-padding" layout="row" layout-align="center center">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{$ctrl.event.name}}</span>
					<span class="md-subhead">{{$ctrl.event.description}}</span>
                    <span class="md-subhead">{{$ctrl.event.beginDate}}</span>
					<span class="md-subhead">{{$ctrl.event.endDate}}</span>
				</md-card-title-text>
				<md-card-title-media>
					<!-- TODO: ver como poner imagenes-->
					<div class="md-media-lg card-media">IMAGEN</div>
				</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
				<md-button ui-sref="updateEvent({ id: $ctrl.event.id })">Editar</md-button>
				<md-button ui-sref="deleteEvent({ id: $ctrl.event.id })">Eliminar</md-button>
				</md-card-actions>
				<md-card-content>
					<md-list>
						<md-subheader class="md-no-sticky">Comentarios del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="comment in $ctrl.comments" ng-click=null>
							<!--<img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />-->
							<div class="md-list-item-text compact">
								<p>{{comment.id}}</p>
								<h3>{{comment.text}}</h3>
								<p>{{comment.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-button ng-click="$ctrl.commentEvent()">Comentar</md-button>

					<md-subheader class="md-no-sticky">Valoración global del evento</md-subheader>
					<p>{{$ctrl.globalRating[0]}}</p>
					<md-list>
						<md-subheader class="md-no-sticky">Valoraciones del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="rating in $ctrl.ratings" ng-click=null>
							<!--<img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />-->
							<div class="md-list-item-text compact">
								<p>{{rating.id}}</p>
								<h3>{{rating.rating}}</h3>
								<p>{{rating.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-button ng-click="$ctrl.rateEvent()">Valorar</md-button>
				</md-card-content>
			</md-card>
		</div> 
	</md-content>
</section>