<section name="manageArtistsDialog">
    <md-content md-theme="docs-dark" layout="column" layout-align="center center">      
        <div>
            <md-table-container>
            <table md-table md-row-select="true" multiple="false" ng-model="ctrl.parent.selectedLocal" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <!--<th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
                    <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>-->
                    <th md-column md-numeric>ID</th>
                    <th md-column md-numeric>Nombre</th>
                    <th md-column md-numeric>Descripción</th>
                    <th md-column md-numeric>Capacidad</th>
                </tr>
                </thead>
                <tbody md-body>
                    <!--<tr md-row md-select="artist" md-select-id="name" md-auto-select ng-repeat="artist in $ctrl.artists">-->
                    <tr  md-row md-select="local.id" md-on-select="ctrl.parent.logItem" md-auto-select="true" ng-disabled="false" ng-repeat="local in ctrl.parent.allLocals">   
                        <td md-cell>{{local.id}}</td>
                        <td md-cell>{{local.name}}</td>
                        <td md-cell>{{local.description}}</td>
                        <td md-cell>{{local.capacity}}</td>
                    </tr>
                </tbody>
            </table>
            </md-table-container>
        </div>
        <div class="md-actions">
            <md-button ng-click="ctrl.parent.modifySelectedLocal();ctrl.parent.dialogOpen=false;ctrl.parent.hideDialog()">
                Aceptar
            </md-button>
        </div>
    </md-content>
</section>