<section name="manageArtistsDialog">
    <md-content md-theme="docs-dark" layout="column" layout-align="center center">      
        <div>
            

            <!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->
        </div>
        <div>
            <md-input-container>
            <label>Añadir artista</label>
            <md-select ng-model="ctrl.parent.selectedArtist">
                <md-option ng-repeat="artist in ctrl.parent.allArtists" ng-value="artist.id" >
                {{artist.name}}
                </md-option>
            </md-select>
            </md-input-container>
            <md-button ng-click="ctrl.parent.addSelectedArtist()">Añadir artista</md-button>
        </div>
        <div class="md-actions">
            <md-button ng-click="ctrl.parent.dialogOpen=false;ctrl.parent.hideDialog()">
                Aceptar
            </md-button>
        </div>
    </md-content>
</section>