<section name="commentEventDialog">
     <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
             <md-input-container>
                <label>Valora el evento</label>
                <input ng-model="ctrl.parent.newRating.rating" type="number" step="1" min="1" max="10">
            </md-input-container>
        </div>
        <div>
            <md-button ng-click="ctrl.parent.rateEvent();ctrl.parent.dialogOpen=false;ctrl.parent.hideDialog()">
                Valorar
            </md-button>
            <md-button ng-click="ctrl.parent.dialogOpen=false;ctrl.parent.hideDialog()">
                Cancelar
            </md-button>
        </div>
    </md-content>
</section>