<section name="GetAllArtists">
  	<div layout="row" layout-align="begin center">
	  <md-content>
		
		
		<!--<md-input-container>
			<label>Buscar</label>
			<input ng-model="$ctrl.keywords">
		</md-input-container>
		<md-button ng-click="$ctrl.searchArtists()">Buscar</md-button>-->
		<form ng-submit="$ctrl.searchArtists()" >
			<md-input-container>
				<label>Buscar</label>
				<input placeholder="Introduce el texto a buscar" ng-model="$ctrl.keywords" />
			</md-input-container>
			<md-button ng-click="$ctrl.searchArtists()">Buscar</md-button>
		</form>

		<md-button ui-sref="createArtist()">Crear nuevo artista</md-button>
		<md-list>
		<md-subheader class="md-no-sticky">Artistas</md-subheader>
		<md-list-item class="md-2-line contact-item" ng-repeat="artist in $ctrl.artists" ng-click="$ctrl.artistDetails(artist.id)">
			<!--<img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />-->
			<div class="md-list-item-text compact">
				<p>{{artist.id}}</p>
				<h3>{{artist.name}}</h3>
				<p>{{artist.description}}</p>
				<p>{{artist.rating}}</p>
			</div>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
  	</md-content>
  	</div>
</section>