<section name="UpdateArtist">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Nombre</label>
                <input ng-model="$ctrl.editArtist.name">
            </md-input-container>

            <md-input-container>
                <label>Descripción</label>
                <input ng-model="$ctrl.editArtist.description">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Valoración</label>
                <input ng-model="$ctrl.editArtist.rating" type="number" step="1" min="0" max="10">
            </md-input-container>
        </div>
        <div>
            <md-button ng-click="$ctrl.updateArtist()">Actualizar</md-button>
        </div>
    </md-content>


    <!--<form>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="name" class="form-control" id="name" placeholder="Introduce Nombre" ng-model="$ctrl.editArtist.name">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="description" class="form-control" id="description" placeholder="Introduce Descripcion" ng-model="$ctrl.editArtist.description">
        </div>
        <div class="form-group">
            <label for="rating">Valoración</label>
            <input type="rating" class="form-control" id="rating" placeholder="Introduce valoración" ng-model="$ctrl.editArtist.rating">
        </div>

        <button type="submit" class="btn btn-default" ng-click="$ctrl.updateArtist()">Actualizar</button>
        {{$ctrl.editArtist}}
    </form>-->
</section>